<app-alerts [alerts]="alerts"></app-alerts>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <img class="profile-img" src="../../../assets/img/logo.png"
                    alt="">
                <form class="form-signin" (submit)="logUserIn()">
                  <input [(ngModel)]="username" name="username" type="text" class="form-control" placeholder="User name" required autofocus #usernameInput="ngModel">
                  <input [(ngModel)]="password" name="username" type="password" class="form-control" placeholder="Password" required #passwordInput="ngModel">

                  <div *ngIf="authenticationError" class="alert alert-danger">
                      Invalid user name and password combination.
                  </div>

                  <button *ngIf="!loading" class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="usernameInput.invalid || passwordInput.invalid">
                      Sign in
                  </button>
                  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
                </form>
            </div>
        </div>
    </div>
</div>
