<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form *ngIf="isLoggedIn" class="navbar-form navbar-right">
        <button type="button" class="btn btn-default" (click)="logOut()">Log out</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer text-center">
  <div class="container">
    <p>ZooKeeperUI - <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL-3.0</a></p>
  </div>
</footer>
