/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;
  color: #fff;
  padding: 20px;
}
